.heading
{
    font-size: 23px;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
    margin: 0px;
}

.note 
{
    font-size: 18px;
    color: black;
}

.copy_right_footer
{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    line-height: 3;
}

canvas
{
    border: 5px black solid;
    border-radius:20px ;
    box-shadow: 7px 7px 5px grey;
}